@import 'styles/index.scss';
.payment-page {
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 1fr;
    height: 100vh;
    padding: 60px 40px 30px 40px;
    &__header {
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-gap: 83px;
        align-items: center;
        a {
            height: 100px;
        }
    }
    &__back-button {
        border-radius: 10px;
        width: 300px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-color: transparent;
        font-size: $fs-36;
        color: $keyboard-bg;
        background: $secondary-btn-bg;
        &:focus {
            outline: none;
        }
        img {
            margin-right: 15px;
            width: 21px;
            height: 35px;
        }
    }
    &__title {
        letter-spacing: 1px;
        font-size: $fs-46;
        color: $keyboard-bg;
    }
    &__layout {
        width: 100%;
        grid-column: 1;
        display: grid;
        grid-gap: 60px;
        grid-template-columns: 1fr 1fr;
        background: transparent;
        padding-top: 15px;
        a {
            height: 370px;
            width: 370px;
            &:first-child {
                justify-self: end;
            }
        }
    }
    &__dollar-bill-card,
    &__credit-card {
        width: inherit;
        height: inherit;
        display: grid;
        grid-template-rows: 1fr 72px;
        border-radius: 15px;
        background: $keyboard-bg;
        box-shadow: 10px 8px 25px $keyboard-box-shadow;
        &__img {
            justify-self: center;
            align-self: center;
            margin-top: 15px;
        }
        &__text {
            text-align: center;
            font-size: $fs-30;
            color: $secondary-btn-bg;
        }
    }
    &__dollar-bill-card {
        &__img {
            width: 242px;
            height: 106px;
        }
    }
    &__credit-card {
        &__img {
            width: 272px;
            height: 168px;
        }
    }
    &__footer {
        grid-column: 1;
        display: grid;
        grid-template-columns: 324px 1fr;
        grid-gap: 120px;
    }
    &__assistant-button,
    &__discount-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 10px;
    }
    &__assistant-button {
        padding: 21px 19px 19px 24px;
        height: 100px;
        border-color: transparent;
        font-size: $fs-22;
        color: $keyboard-bg;
        background: $secondary-btn-bg;
        &:focus {
            outline: none;
        }
        .anticon {
            padding-right: 13px;
        }
    }
    &__discount-button {
        padding-left: 20px;
        padding-right: 20px;
        width: 413px;
        font-size: $fs-22;
        color: $secondary-btn-bg;
        background: $keyboard-bg;
        box-shadow: 10px 8px 25px $keyboard-box-shadow;
        .anticon {
            padding-right: 15px;
        }
        &:focus {
            outline: none;
        }
    }
}
