@import 'styles/index.scss';

.weighted-categories {
    height: 100%;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-gap: 20px;
    &__header {
        height: 60px;
        &__title {
            font-size: $fs-36;
            color: $secondary-btn-bg;
        }
    }
    &__body {
        padding-bottom: 10px;
    }
    &__header,
    &__body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    &__search-button {
        height: 100%;
        border-radius: 10px;
        border-color: transparent;
        align-items: center;
        color: $keyboard-bg;
        background: $secondary-btn-bg;
        display: flex;
        flex-direction: row;
        padding-left: 12px;
        padding-right: 12px;
        font-size: $fs-22;
        width: max-content;
        justify-self: end;
        box-shadow: 0px 4px 8px $button-box-shadow;
        letter-spacing: 0.5px;
        &:focus {
            outline: none;
        }
        .anticon {
            padding: 8px;
            .img {
                width: 25px;
            }
        }
        span {
            padding: 8px;
        }
    }
    &__card {
        width: 100%;
        background: $elements-header-bg;
        border-radius: 10px;
        text-align: center;
        display: grid;
        grid-template-rows: 185px 1fr;
        &:first-child {
            img {
                width: 49px;
                height: 125px;
            }
        }
        &:nth-child(2) {
            img {
                width: 89px;
                height: 109px;
                margin-bottom: 10px;
            }
        }
        .ant-card-cover {
            align-self: end;
            justify-self: center;
        }
        .ant-card-body {
            font-size: $fs-20;
            color: $primary-text-cl;
            padding: 0;
            align-self: center;
            .ant-card-meta-title {
                font-size: $fs-30;
                color: $secondary-btn-bg;
            }
            .ant-card-meta-description {
                font-size: $fs-20;
                color: $secondary-btn-bg;
            }
        }
    }
}
