@import 'styles/index.scss';

.weighted-page {
    padding: 20px 60px;
    height: 100%;
}
.weighted-keyboard {
    display: grid;
    grid-template-columns: 1fr;
    height: 60px;
    margin-bottom: 20px;
    position: relative;
    &__label {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            bottom: 20px;
            width: 34px;
            height: 34px;
            background: url('../../../assets/search-gray.svg') center / contain no-repeat;
        }
        &--ltr {
            &:before {
                left: 0;
            }
        }
        &--rtl {
            &:before {
                right: 0;
            }
        }
    }
    &__input {
        font-size: $fs-30;
        color: $sider-header-color;
        padding-left: 50px;
        padding-right: 200px;
        width: 100%;
        border: none;
        border-bottom: 2px solid $primary-text-cl;
        &:focus {
            outline: unset;
        }
        &--ltr {
            padding-left: 50px;
            padding-right: 200px;
        }
        &--rtl {
            padding-left: 200px;
            padding-right: 50px;
        }
    }
    &__close-button {
        position: absolute;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 0 19px;
        align-items: center;
        width: 192px;
        height: 38px;
        background: $primary-text-cl;
        border: 2px solid $primary-text-cl;
        border-radius: 10px;
        font-size: $fs-18;
        color: $white-text-color;
        &--ltr {
            right: 0;
        }
        &--rtl {
            left: 0;
        }
    }
}
