@import 'styles/index.scss';

.header {
    height: 100%;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    justify-content: space-between;
    background: $body-dark-bg;
    box-shadow: 10px 8px 15px $keyboard-box-shadow;
    a {
        width: 443px;
        &:first-child {
            width: 440px;
        }
    }
    &__tab-item {
        height: 70px;
        text-align: center;
        line-height: 75px;
        width: inherit;
        font-size: $fs-30;
        background: $keyboard-bg;
        color: $secondary-btn-bg;
    }

    &__active-tab &__tab-item {
        box-shadow: unset;
        position: relative;
        color: $secondary-text-cl;
        background: $green-primary-bg;
    }
    &__active-tab &__active-tab-cursor {
        position: absolute;
        margin-left: 180px;
        width: 0;
        height: 0;
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        border-top: 20px solid $green-primary-bg;
    }
}
