@import 'styles/index.scss';
.language-menu {
    display: flex;
    &__list {
        margin: 0;
        padding: 0;
        display: flex;
    }
    &__item {
        list-style-type: none;
        div {
            height: 100%;
        }
    }
}

.language-button,
.arrow-language-button {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: $fs-18;
    padding: 10px 24px 10px 24px;
    background: $secondary-btn-bg;
    height: 100%;
    border-color: transparent;
    color: $keyboard-bg;
    align-items: center;
    width: 131px;
    &:focus {
        outline: none;
    }
}
.arrow-language-button {
    width: 33px;
    justify-content: center;
    padding: 0;
    &--ltr {
        border-left: 1px solid;
        border-radius: 0 10px 10px 0;
        &.arrow-language-button--no-rotate {
            .anticon {
                transform: rotate(0);
            }
        }
        &.arrow-language-button--rotate {
            .anticon {
                transform: rotate(180deg);
            }
        }
    }
    &--rtl {
        border-right: 1px solid;
        border-radius: 10px 0 0 10px;
        &.arrow-language-button--no-rotate {
            .anticon {
                transform: rotate(180deg);
            }
        }
        &.arrow-language-button--rotate {
            .anticon {
                transform: rotate(0);
            }
        }
    }
}
.language-button {
    &--ltr {
        border-radius: 10px 0 0 10px;
    }
    &--rtl {
        border-radius: 0 10px 10px 0;
    }
}
