@import 'styles/index.scss';

.receipt-menu {
    height: 100%;
    display: grid;
    grid-template-rows: 70px 1fr 60px 130px;
    .ant-list {
        overflow: scroll;
    }
    &__header {
        border-radius: 15px 15px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $fs-32;
        color: $sider-header-color;
        background: $elements-header-bg;
    }
    &__weight-warning {
        width: 340px;
        height: 120px;
        margin-top: 186px;
        padding: 19px 50px;
        border-radius: 10px;
        line-height: 27px;
        justify-self: center;
        text-align: center;
        font-size: $fs-22;
        color: $keyboard-bg;
        background: $tips-bg;
    }
    &__selected-product {
        height: 100%;
        display: grid;
        grid-template-rows: 1fr 84px 78px;
        &__title {
            justify-self: center;
            align-self: center;
            font-size: $fs-36;
            color: $secondary-text-cl;
        }
        &__counter {
            display: grid;
            grid-template-columns: 45px 55px 45px 1fr;
            align-items: center;
            background: $main-btn-inactive-bg;
            &__button {
                border-radius: 10px;
                width: 45px;
                height: 45px;
                display: grid;
                align-items: center;
                justify-items: center;
                background: $green-secondary-bg;
            }
            &__count {
                display: grid;
                justify-items: center;
            }
            &__title {
                display: grid;
                justify-items: end;
            }
        }
        &__item-price {
            text-align: right;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__item-price,
        &__counter {
            padding-left: 24px;
            padding-right: 16px;
            font-size: $fs-24;
            color: $secondary-text-cl;
        }
    }
    &__total {
        padding-left: 24px;
        padding-right: 16px;
        text-align: right;
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid $sider-line-color;
        font-size: $fs-24;
        color: $secondary-text-cl;
        &--visible {
            visibility: visible;
        }
        &--hidden {
            visibility: hidden;
        }
    }
    &__button {
        border-radius: 0 0 15px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $fs-40;
        &--active {
            background: $main-btn-bg;
            color: $secondary-text-cl;
        }
        &--disabled {
            background: $main-btn-inactive-bg;
            color: $sider-bottom-disable-color;
        }
    }
}
