@import 'styles/index.scss';
.main-page {
    display: grid;
    grid-template-rows: 1fr 118px 100px;
    grid-template-columns: 1fr;
    height: 100vh;
    padding: 95px 40px 30px 40px;
    .footer {
        grid-column: 1;
    }
    &__layout {
        width: 100%;
        grid-column: 1;
        display: grid;
        grid-gap: 90px;
        grid-template-columns: 1fr 1fr;
        background: transparent;
        a {
            height: 425px;
            width: 425px;
            &:first-child {
                justify-self: end;
            }
        }
    }
    &__scanner-card,
    &__no-scanner-card {
        width: inherit;
        height: inherit;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: $keyboard-bg;
        box-shadow: 10px 8px 25px $keyboard-box-shadow;

        &__img {
            padding: 69px 105px 0 105px;
        }

        &__text {
            padding-bottom: 41px;
            text-align: center;
            font-size: $fs-30;
            color: $secondary-btn-bg;
        }
    }
    &__scanner-card {
        &__img {
            padding: 69px 105px 0 105px;
        }
    }
    &__no-scanner-card {
        &__img {
            padding: 59px 75px 0 75px;
        }
    }
    &__payment-info {
        font-size: 30px;
        text-align: center;
        padding: 30px 173px;
        display: grid;
        grid-template-columns: 1fr 78px 60px;
        justify-items: start;
        grid-gap: 15px;
        color: $keyboard-bg;
    }
}
