@import 'styles/index.scss';
.footer {
    display: flex;
    background: transparent;
    grid-column: 1/2;
    padding: 0;
    color: $white-text-color;
    &__mute-button,
    &__assistant-button {
        height: 100%;
        border-radius: 10px;
        border-color: transparent;
        align-items: center;
        color: $keyboard-bg;
        background: $secondary-btn-bg;
        &:focus {
            outline: none;
        }
    }
    &__mute-button {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 24px 10px 24px;
        margin: 0 15px;
        font-size: $fs-18;
    }
    &__assistant-button {
        display: flex;
        flex-direction: row;
        padding: 0 8px;
        white-space: nowrap;
        font-size: $fs-22;
        .anticon,
        span {
            padding: 0 12px;
        }
        img {
            width: 43px;
        }
    }
}
