// Colors
$body-bg-gradient: radial-gradient(384.00px at 50% 50%, #97AAC1 0%, rgba(255, 255, 255, 0) 100%), #677688;
$body-light-bg: #8FA2B9;
$body-dark-bg: #758496;
$keyboard-bg: #FBFBFD;
$keyboard-button-active-bg: #ccc;
$keyboard-box-shadow: #0000004d;
$button-box-shadow: #00000066;
$green-primary-bg: #15E7C3;
$green-secondary-bg: #00C2A1;
$secondary-btn-bg: #4F5464;
$main-btn-bg: #FFED0D;
$main-btn-inactive-bg: #F1F2F8;
$elements-header-bg: #DFE3EB;
$tips-bg: #4573E3;
$delete-bg: #F65557;
$close-popup-btn-bg: #F51D20;
$slider-arrow-bg: #364d79;

$primary-text-cl: #4E545A;
$secondary-text-cl: #212121;
$secondary-btn-text-cl: #FBFBFB;
$tips-text-cl: #4573E3;
$delete-text-cl: #F51D20;
$white-text-color: #FFFFFF;
$black-text-color: #000000;
$sider-header-color: #3E4247;
$sider-bottom-disable-color: #C0C3C9;
$sider-line-color: #53585D;

// Fonts
$font-family: Arial, Helvetica, sans-serif;
$fs-18: 18px;
$fs-20: 20px;
$fs-22: 22px;
$fs-24: 24px;
$fs-26: 26px;
$fs-30: 30px;
$fs-32: 32px;
$fs-36: 36px;
$fs-40: 40px;
$fs-46: 46px;
$fs-72: 72px;