@import 'styles/index.scss';

.category-items {
    height: 100%;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-gap: 20px;
    &__header {
        height: 60px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    &__body {
        display: grid;
        grid-template-columns: repeat(3, 244px);
        grid-template-rows: repeat(3, 110px);
        grid-gap: 16px;
        position: relative;
    }
    &__prev-arrow,
    &__next-arrow {
        position: fixed;
        top: 367px;
        width: 63px;
        height: 88px;
        display: grid;
        align-items: center;
        justify-items: center;
        background: $secondary-btn-bg;
        border-radius: 10px;
        &--hidden {
            visibility: hidden;
        }
        &--visible {
            visibility: visible;
        }
    }
    &__prev-arrow {
        &--ltr {
            left: 20px;
            transform: rotate(0);
        }
        &--rtl {
            left: 1282px;
            transform: rotate(180deg);
        }
    }
    &__next-arrow {
        &--ltr {
            left: 885px;
            transform: rotate(0);
        }
        &--rtl {
            left: 420px;
            transform: rotate(180deg);
        }
    }
    &__search-button,
    &__back-button {
        height: 100%;
        border-radius: 10px;
        border-color: transparent;
        align-items: center;
        color: $keyboard-bg;
        background: $secondary-btn-bg;
        display: flex;
        flex-direction: row;
        font-size: $fs-22;
        letter-spacing: 0.5px;
        box-shadow: 0px 4px 8px $button-box-shadow;
        width: max-content;
        padding-left: 12px;
        padding-right: 12px;
        &:focus {
            outline: none;
        }
    }
    &__back-button {
        .anticon {
            padding: 6px;
            .img {
                width: 15px;
                height: 25px;
            }
        }
        span {
            padding: 6px;
        }
        &--ltr {
            .anticon {
                transform: rotate(180deg);
            }
        }
        &--rtl {
            .anticon {
                transform: rotate(0);
            }
        }
    }
    &__search-button {
        justify-self: end;
        .anticon {
            padding: 8px;
            .img {
                width: 25px;
            }
        }
        span {
            padding: 8px;
        }
    }
    &__card {
        width: 100%;
        background: $elements-header-bg;
        border-radius: 10px;
        display: grid;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        &:active {
            background: $green-primary-bg;
            .category-items__card__text {
                color: $secondary-text-cl;
            }
        }
        &__img {
            display: none;
        }
        &__text {
            font-size: $fs-22;
            text-align: center;
            color: $secondary-btn-bg;
        }
    }
}
.ant-carousel {
    width: 766px;
    .slick-slide {
        text-align: center;
        height: 160px;
        line-height: 160px;
        background: $slider-arrow-bg;
        overflow: hidden;
        h3 {
            color: $white-text-color;
        }
    }
}
