@import 'styles/index.scss';
.technical-break-page {
    display: grid;
    height: 100vh;
    padding: 110px 155px;
    &__sso-card {
        border-radius: 15px;
        display: grid;
        grid-template-rows: 400px 1fr;
        justify-items: center;
        background: $keyboard-bg;
        box-shadow: 10px 8px 25px $keyboard-box-shadow;

        &__img {
            padding: 115px 0 43px 0;
        }

        &__text {
            padding-bottom: 41px;
            text-align: center;
            width: 300px;
            line-height: 40px;
            font-size: $fs-30;
            color: $secondary-btn-bg;
        }
    }
}
