@import 'styles/index.scss';

.client-page-layout {
    background: transparent;
    display: grid;
    grid-template-columns: 1fr 370px;
    grid-template-rows: 1fr 100px;
    padding: 30px 40px;
    grid-gap: 25px 30px;
    .ant-layout-sider {
        border-radius: 15px;
        background: $white-text-color;
        flex: 0 0 370px;
        max-width: 370px;
        min-width: 370px;
        width: 370px;
        // grid-column: 1/2;
        // grid-row: 1/3;
        grid-column: 2/2;
        grid-row: 1/3;
        .ant-layout-sider-children {
            height: 708px;
        }
    }
    .ant-layout {
        background: transparent;
        display: grid;
        grid-template-rows: 70px 1fr;
        grid-gap: 30px;
        &-header {
            padding: 0;
            height: auto;
        }
        &-content {
            border-radius: 15px;
            background: $white-text-color;
        }
    }
}
