@import 'styles/index.scss';

.help-modal,
.assistant-modal {
    padding: 0;
    border-radius: 15px;
    box-shadow: 10px 8px 25px $keyboard-box-shadow;
    &--ltr {
        direction: ltr;
        .close-icon {
            right: -35px;
        }
    }
    &--rtl {
        direction: rtl;
        .close-icon {
            left: -35px;
        }
    }
    .ant-modal-content {
        border-radius: 15px;
        height: 100%;
        display: grid;
        grid-template-rows: 90px 1fr 125px;
        background: unset;
        .ant-modal-close {
            display: none;
        }
        .close-icon {
            position: absolute;

            top: -35px;
        }
        .ant-modal-header {
            direction: ltr;
            height: 90px;
            display: grid;
            padding: 0;
            align-self: end;
            border: unset;
            border-radius: 15px 15px 0 0;
            background: $keyboard-bg;
            .ant-modal-title {
                font-size: $fs-36;
                text-align: center;
                line-height: unset;
                display: grid;
                align-self: end;
                color: $secondary-btn-bg;
            }
        }
        .ant-modal-body {
            align-self: center;
            justify-items: center;
            display: grid;
            height: 100%;
            padding-top: 40px;
            background: $keyboard-bg;
        }
        .ant-modal-footer {
            border: none;
            padding: 0;
            div {
                display: grid;
                border-radius: 0 0 15px 15px;
                overflow: hidden;
            }
        }
    }
}
.help-modal {
    .ant-modal-content {
        .ant-modal-footer {
            div {
                grid-template-columns: 1fr 1fr;
                .ant-btn {
                    height: 125px;
                    padding: 0;
                    margin: 0;
                    border-radius: unset;
                    border: unset;
                    font-size: $fs-36;
                    color: $secondary-btn-text-cl;
                    background: $secondary-btn-bg;
                }
                .ant-btn-primary {
                    color: $secondary-text-cl;
                    background: $green-primary-bg;
                }
            }
        }
    }
}

.assistant-modal {
    .ant-modal-content {
        .ant-modal-body {
            .body-icon {
                img {
                    width: 177px;
                    height: 202px;
                }
            }
            .body-text {
                align-self: center;
                font-size: $fs-24;
                color: $secondary-btn-bg;
            }
        }
        .ant-modal-footer {
            div {
                grid-template-columns: 1fr;
                .ant-btn {
                    display: none;
                }
                .ant-btn-primary {
                    display: block;
                    height: 125px;
                    padding: 0;
                    margin: 0;
                    border-radius: unset;
                    border: unset;
                    font-size: $fs-36;
                    color: $secondary-text-cl;
                    background: $green-primary-bg;
                }
            }
        }
    }
}
