@import 'styles/index.scss';

.barcode-goods {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    padding: 25px 0 25px 0;
    &__scanner-items,
    &__scales-items {
        display: grid;
        justify-items: center;
    }
    &__scanner-items {
        grid-template-rows: 73px 1fr 76px;
    }
    &__scales-items {
        opacity: 0.5;
        grid-template-rows: 73px 1fr;
    }
    &__step {
        text-align: center;
        font-size: $fs-30;
        color: $secondary-btn-bg;
    }
    &__scanner-card,
    &__scales-card {
        justify-items: center;
        display: grid;
        font-size: $fs-24;
        color: $secondary-btn-bg;
    }
    &__scanner-card {
        &__img {
            width: 173px;
            height: 185px;
        }
        &__text {
            text-align: center;
            width: 250px;
        }
    }
    &__scales-card {
        grid-template-rows: 225px 1fr;
        &__img {
            width: 224px;
            height: 182px;
        }
        &__text {
            text-align: center;
            width: 250px;
        }
    }
    &__scanner-button {
        width: 337px;
        height: 76px;
        border-radius: 10px;
        border-color: transparent;
        align-items: center;
        font-size: $fs-22;
        color: $keyboard-bg;
        background: $secondary-btn-bg;
        box-shadow: 0px 4px 8px $button-box-shadow;
        &:focus {
            outline: none;
        }
    }
}
