@import '../../styles/index.scss';

.keyboard {
    width: 100%;
    margin: 0 auto;
    background: $keyboard-bg;
    box-shadow: 10px 8px 25px $keyboard-box-shadow;
    border-radius: 15px 15px 0px 0px;
    font-size: $fs-32;
    position: absolute;
    bottom: 0;
    z-index: 1;
    left: 0;
    padding: 1.3vh 3.3vw 1.7vh 3.3vw;
    &__row {
        display: flex;
        justify-content: center;
    }
    &__button {
        display: flex;
        justify-content: space-around;
        align-items: center;
        // width: 7.02vw;
        // height: 7.55vh;
        width: 96px;
        height: 58px;
        margin: 5px;
        background-color: $elements-header-bg;
        color: $secondary-text-cl;
        border-radius: 15px;
        border-color: transparent;
        font-size: $fs-32;
        font-weight: 300;

        &:focus {
            outline: none;
        }
        &:disabled {
            opacity: 0.4;
            cursor: default;
        }
        &:active {
            background-color: $keyboard-button-active-bg;
        }
    }
    &__space-button {
        width: 595px;
    }
    &__option-button {
        background-color: $main-btn-inactive-bg;
        width: 160px;
    }
    &__assistant-button {
        background-color: $tips-bg;
        width: 213px;
        padding-right: 21px;
        padding-left: 21px;
        &--icon {
            display: flex;
            justify-content: space-around;
            align-items: center;
            color: $white-text-color;
            font-size: $fs-26;
            letter-spacing: 1px;
        }
        &--text {
            padding-left: 1.02vw;
        }
    }
    &__language-button {
        background-color: $main-btn-inactive-bg;
        width: auto;
        padding-right: 21px;
        padding-left: 21px;
        &--icon {
            display: flex;
            justify-content: space-around;
            align-items: center;
            color: $black-text-color;
            font-size: $fs-26;
            letter-spacing: 1px;
        }
        &--text {
            padding-left: 1.02vw;
        }
    }
    &__hide-button {
        width: 165px;
        background-color: $secondary-btn-bg;
        color: $white-text-color;
        padding-right: 34px;
        padding-left: 34px;
        line-height: 30px;
        &--icon {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column-reverse;
            color: $white-text-color;
            font-size: $fs-24;
            letter-spacing: 1px;
        }
    }
}
