@import 'styles/index.scss';

.sider-list {
    height: 100%;
    display: grid;
    grid-template-rows: 70px 1fr 60px 130px;
    .ant-list {
        overflow: scroll;
    }
    &__heder {
        background: $elements-header-bg;
        border-radius: 15px 15px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $fs-32;
        color: $sider-header-color;
    }
    &__item {
        align-items: flex-start;
        font-size: $fs-20;
        color: $secondary-text-cl;
        padding: 18px 15px;
        &:nth-child(odd) {
            font-weight: 600;
            .ant-list-item-meta-title {
                color: inherit;
                font-size: $fs-20;
                font-weight: 600;
                margin: 0;
            }
        }
        &:nth-child(even) {
            background: $main-btn-inactive-bg;
            .ant-list-item-meta-title {
                color: inherit;
                font-size: $fs-20;
                margin: 0;
            }
        }
        .ant-list-item-content {
            flex: unset;
            margin-left: 10px;
            line-height: 22px;
        }
    }
    &__item-index {
        flex: unset;
        padding-right: 10px;
    }
    &__total {
        padding-left: 24px;
        padding-right: 16px;
        border-top: 1px solid $sider-line-color;
        font-size: $fs-24;
        color: $secondary-text-cl;
        text-align: right;
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__button {
        border-radius: 0 0 15px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $fs-40;
        &--active {
            background: $main-btn-bg;
            color: $secondary-text-cl;
        }
        &--disabled {
            background: $main-btn-inactive-bg;
            color: $sider-bottom-disable-color;
        }
    }
}
